@import "../../../../../../styles.scss";

.location-card-grid {
	display: grid;
	width: 100%;
	gap: 1rem;
	grid-template-columns: 1fr;

	// @include breakpoint('medium') {
	// 	grid-template-columns: 1fr 1fr;
	// }

	@include breakpoint('large') {
		grid-template-columns: 1fr 1fr;
	}
	
	.location-card {
		display: flex;
		position: relative;
		flex-direction: column;
		background-color: transparent;
		color: $color-black;
		border-radius: 3px;
		overflow: hidden;
		filter: drop-shadow(0px 0px 5px black);
		transition: filter .5s ease;

		&:hover {
			filter: drop-shadow(0px 0px 2px black);

			.image-container img {
				//scale: 1.1;
				scale: 1;
				//filter: brightness(1.5) saturate(1.5);
				filter: brightness(1.1);
			}

			.name-container {
				//height: 300px;
				background-position-y: 0px;
				transition-delay: .5s;
			}
		}

		&.edit-mode {
			border: 1px solid gold;
			box-shadow: 0 0 4px gold, 0 0 80px rgba(0, 0, 0, 0.5) inset;
			z-index: 25;
			pointer-events: visible;
		}

		a {
			display: contents;
		}

		.image-container {
			//height: 100px;
			width: auto;
			aspect-ratio: 3 / 2; //2/3;
			object-fit: cover;
			overflow: hidden;

			img {
				width: 100%;
				object-fit: cover;
				aspect-ratio: 3 / 2; //2/3;
				scale: 1.05;
				transition: scale .5s ease, filter .5s ease;
			}
		}

		.name-container {
			display: flex;
			flex-direction: column;
			position: absolute;
			bottom: 0;
			width: 100%;
			background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
			background-position-y: 0px;
			// background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
			// background-position-y: 90px; // Re-enable for more space on hover
    		background-repeat: no-repeat;
			height: 200px;
			align-items: center;
			justify-content: flex-end;
			transition: background-position-y .5s ease;
			transition-delay: 0.1ms;
			padding-bottom: 2rem;
			
			h3 {
				display: flex;
				justify-content: center;
				width: 100%;
				margin-block-start: 0;
				margin-block-end: 0;
			}
		}

		.edit-btn {
			position: absolute;
			right: 1rem;
			top: 1rem;
		}

	}
}
