@import "../../../../../../styles.scss";

.text-input {
	color: $color-black;
	background-color: $color-white;
	padding: 10px 20px;
}

.mention-component {
	position: relative;
}

.mention-editor {
	position: absolute;
	display: none;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid $color-black;
	background-color: $color-white;
	color: black;
	top: -20px;
	left: 40px;

	&.show {
		display: block;
	}

	label {
		margin-right: 10px;
	}
}

.mention-container {
	position: absolute;
	border-radius: 5px;
	border: 1px solid $color-black;
	background-color: $color-white;
	color: black;
	display: none;
	flex-direction: column;
	user-select: contain;
	box-sizing: border-box;

	.mention-container-top {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;		
	}

	.mention-input {
		display: flex;
		flex-direction: row;
	}

	&.show {
		display: flex;
	}

	form {
		display: flex;
		flex-direction: column;
	}

	input[type=radio] {
		
	}

	label {
		display: block;
		line-height: 1.5;
	}

	input[type=radio]:checked+label {
		background-color: rgb(127, 199, 195);
	}

	ul {
		margin: 20px;
	}

	li:hover {
		background-color: lightgray;
		cursor: pointer;
	}
}