<div class="content">
	<h1>Create event POC</h1>
	<br /><br />

	<form [formGroup]="form">
		<label>Type</label>
		<select formControlName="Type">
			<option *ngFor="let type of types" [value]="type.id">{{type.title}}</option>
		</select>
		<br />

		<label>Era</label>
		<select formControlName="Era">
			<option *ngFor="let era of eras" [value]="era.id">{{era.title}}</option>
		</select>
		<br />

		<label>Year</label>
		<input type="number" formControlName="Year" />
		<br />

		<label>Month</label>
		<select formControlName="Month">
			<option *ngFor="let month of months" [value]="month.id">{{month.month}}: {{month.title}}</option>
		</select>
		<br />

		<label>Day</label>
		<input type="number" formControlName="Day" />
		<br />

		<br />
		<label>Description</label><br />
		<textarea formControlName="Description" placeholder="Please write some text"></textarea><br />
		<button (click)="createEventBtnClick()">Create event</button>

		<br /><br />
		<label>New description</label>
		<div class="mention-component">
			<div #mentionsDropdown [class]="showMentions ? 'mention-container show' : 'mention-container'">
				<form [formGroup]="mentionForm">
					<ng-container *ngFor="let character of characters">
						<input formControlName="Mention" type="radio" name="Mention" value="{{character.id}}" id="{{'char-'+character.id}}">
						<label for="{{'char-'+character.id}}">{{character.firstName}} {{character.lastName}}</label>
					</ng-container>
					<button (click)="onAddMention()">Add mention</button>
				</form>
				<!--<ul>
					<li (click)="insert(character.id)">{{character.firstName}} {{character.lastName}}</li>
				</ul>-->
			</div>
			<div #mentionEditor class="mention-editor" [class]="showMentionEditor ? 'mention-editor show' : 'mention-editor'">
				<form [formGroup]="editMentionForm">
					<label>Override name</label>
					<input type="text" />
				</form>
			</div>
			<div #descriptionEditor class="text-input" contenteditable="true" (input)="onDescriptionChange($event)" (keyup)="onKeyUp($event)" (blur)="onBlur()"></div>
			<button (click)="getDescriptionValue()">Get contenteditable html</button>
		</div>
		<!--<button (click)="insert('from insert button')">INSERT</button>-->
	</form>
</div>