<div class="card" [class.edit-mode]="isBeingEdited" [class.landscape]="shape === 'landscape'">
<!-- <div class="card"> -->
	<!-- <a [routerLink]="'//timeline/' + 'duke' + '/' + url"> -->
	<a [routerLink]="url ? '/' + url : ''">
	<!-- <a> -->
		<div class="image-container">
			<img src="{{image ? image : 'https://tokens.dukendor.com/graphics/avatars/visitor.png'}}" alt="" />
		</div>
		<div class="name-container">
			<h3>{{title}}</h3>
			<p *ngIf="subtitle">{{subtitle}}</p>
		</div>
	</a>
	<button *ngIf="canEdit" class="edit-btn" (click)="(onClickCallback())">Edit</button>
</div>