<div class="card" [class.edit-mode]="isBeingEdited" [class.landscape]="shape === 'landscape'">
	<a [routerLink]="url ? '/' + url : ''">
		<div class="image-container">
			<img
				src="{{image ? image : 'https://tokens.dukendor.com/graphics/avatars/visitor.png'}}"
				alt="" (error)="onImageError()"
				role="presentation"
			/>
		</div>
		<div class="name-container">
			<h3>{{title}}</h3>
			<p *ngIf="subtitle">{{subtitle}}</p>
		</div>
	</a>
	<div class="card-top">
		<div class="icon-container">
			<HexagonPlayerIcon class="icon" *ngIf="isRpg && isPlayable" title="A playable character"></HexagonPlayerIcon>
			<HexagonIcon class="icon" *ngIf="isRpg && !isPlayable" title="A non-playable character"></HexagonIcon>
		</div>
		<custombutton *ngIf="canEdit" [text]="" [onClickCallback]="onClickCallback.bind(this)"></custombutton>
	</div>
</div>