.content-wrapper {
	&.has-header {
		top: -75px;

		// .container-margin {
		// 	margin-top: -60px;
		// }
	}

	&.no-padding {
		padding: 0;
	}

	position: relative;
	top: 100px;
	box-sizing: border-box;
	width: 100%; //800px;
	// min-width: 600px;
	background-color: rgb(50,50,50);
	//padding: 20px;
	margin: 0 auto;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 80px rgba(0, 0, 0, 0.5) inset;
	//background-image: url(https://img.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-444.jpg?size=626&ext=jpg);
	background-color: #292a2d;
	//z-index: 10;
	// overflow: hidden;
	padding: 1rem;

	@include breakpoint('xlarge') {
		width: 800px;
		border-radius: 10px;
	}

	.container-margin {
		padding: 0 20px 20px 20px;
	}

	.content {
		position: relative;

		&.has-image {
			//transform: translateY(-100px);
			padding-top: 170px; //230px;
		}
	}

	h1, h2, h3 {
		font-family: $font-hoefler;

		/*
		@include breakpoint('medium') {
			color: red !important;
		}

		@include breakpoint('large') {
			color: blue !important;
		}

		@include breakpoint('xlarge') {
			color: green !important;
		}
		*/
	}
}

.image-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	//padding-bottom: 20px;
	z-index: 20;
	position: absolute;
	bottom: -350px;

	.image {
		width: 300px;
		height: 300px; //100%;
		background-color: gray;
		background-size: cover;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 1);
		background-position: center;
	}
}

.window-content-wrapper {
	display: flex;
	flex-direction: row;
	//padding: 30px;
	font-family: $font-hoefler, sans-serif;
	color: $color-black;
	width: 100%;
	height: calc(100% - 55px); // -55 because of window accent
	//overflow: hidden;
	transition: transform 0.15s ease-in-out;

	&.asideIsOpen {
		transform: translateX(-100%);
	}

	.window-content-header {
		background-color: $color-white;
		border-bottom: $color-gray-dark 1px solid;
		padding: 10px;
	}

	.window-content {
		flex: 0 0 100%;
		//padding: 30px;
		width: 100%;
		//height: calc(100% - 55px); // 55 is accent height
		box-sizing: border-box;
		//overflow-y: auto;

		&.a {
			background-color: aquamarine;
		}

		&.b {
			background-color: coral;
		}

		&.c {
			background-color: chartreuse;
		}

		&.d {
			background-color: deeppink;
		}
	}
}