.content-wrapper {
	&.has-header {
		top: -75px;
	}

	position: relative;
	top: 100px;
	box-sizing: border-box;
	width: 100%; //800px;
	background-color: rgb(50,50,50);
	padding: 20px;
	margin: 0 auto;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 80px rgba(0, 0, 0, 0.5) inset;
	//background-image: url(https://img.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-444.jpg?size=626&ext=jpg);
	background-color: #292a2d;
	z-index: 10;
	//overflow: hidden;

	@include breakpoint('xlarge') {
		width: 800px;
		border-radius: 10px;
	}

	.content {
		position: relative;

		&.has-image {
			transform: translateY(-100px);
		}

		.image-wrapper {
			display: flex;
			justify-content: center;
			width: 100%;
			padding-bottom: 20px;
		}

		.image {
			width: 300px;
			height: 300px; //100%;
			background-color: gray;
			background-size: cover;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 1);
			background-position: center;
		}
	}

	h1, h2, h3 {
		font-family: $font-hoefler;

		/*
		@include breakpoint('medium') {
			color: red !important;
		}

		@include breakpoint('large') {
			color: blue !important;
		}

		@include breakpoint('xlarge') {
			color: green !important;
		}
		*/
	}
}