.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	width: 100%;
	height: 500px;
	background-position: center;
	background-size: cover;
	//margin: 0 auto;
	margin-top: 50px;
	padding: 30px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	//box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 80px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.5) inset;
	box-sizing: border-box;

	.top-btn-container {
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.header-content {
		position: relative;
		width: 800px;
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			//width: 100%;
			color: white;
			//text-align: center;
			text-shadow: 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
			letter-spacing: 15px;
			font-family: $font-tavernlore;
			font-family: $font-semplicita;
			font-size: 32px;
		}

		h2 {
			color: white;
			text-shadow: 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
			letter-spacing: 5px;
			font-family: 'Semplicita';
			font-size: 16px;
		}

		p {
			font-family: 'Hoefler Text';
			font-size: 18px;
			font-weight: 900;
			letter-spacing: 5px;
			text-shadow: 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
			line-height: 1.5;
			max-width: 700px;
		}

		form {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			input {
				background-color: transparent;
				color: white;
				border: unset;
				text-align: center;
				width: inherit;
				overflow: hidden;
				text-overflow: ellipsis;
				
				&:focus {
					outline: unset;
					outline-offset: unset;
				}
	
				&.title {
					font-family: 'Semplicita';
					font-size: 32px;
					text-shadow: 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
					letter-spacing: 15px;
				}
			}
	
			textarea {
				color: unset;
				background-color: transparent;
				border: unset;
				padding: 0px;
				resize: none;
	
				width: 100%;
				overflow: auto;
				text-align: center;
	
				font-family: 'Hoefler Text';
				font-size: 18px;
				font-weight: 900;
				letter-spacing: 5px;
				text-shadow: 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
				line-height: 1.5;
				max-width: 700px;
	
				&:focus {
					outline: unset;
					outline-offset: unset;
				}
			}
		}
	}
}