<ng-container>
	<div class="header" [style.background-image]="coverImage ? 'url('+coverImage+')' : 'url(https://cdnb.artstation.com/p/assets/images/images/034/991/557/large/will-murai-barrens-keyart-008.jpg?1613802083)'">
		<div class="header-content">
			<h1>{{playerName}}</h1>
			<div *ngIf="image" class="image-wrapper">
				<div class="image" [style.background-image]="'url(' + image + ')'"></div>
			</div>
		</div>
	</div>
	<div class="content-wrapper has-header">
		<div class="content" [ngClass]="{'has-image' : image}">
			<div class="container-margin">
				<h2 *ngIf="playerDescription">Description</h2>
				<!-- <p>{{playerDescription}}</p> -->
				
				<paragraph [text]="playerDescription"></paragraph>

				<h2>List of characters</h2>
				<div class="character-card-grid">
					<card *ngFor="let character of characterCards"
						[title]="character.firstName + ' ' + character.lastName"
						[image]="character.image"
						[url]="'//timeline/' + timelineSlug + '/' + character.slug"
						[canEdit]="true"
						[onClickCallback]="onEditCharacterClick.bind(this, character)"
					></card>
				</div>
				<a [routerLink]="'//players'">Back to players</a>
			</div>
		</div>
	</div>
</ng-container>