<ng-container>
	<div class="header" [style.background-image]="coverImage ? 'url('+coverImage+')' : 'url(https://cdnb.artstation.com/p/assets/images/images/034/991/557/large/will-murai-barrens-keyart-008.jpg?1613802083)'">
		<div class="header-content">
			<h1>{{playerName}}</h1>
			<div *ngIf="image" class="image-wrapper">
				<div class="image" [style.background-image]="'url(' + image + ')'"></div>
			</div>
		</div>
	</div>
	<div class="content-wrapper has-header">
		<div class="content" [ngClass]="{'has-image' : image}">
			<div class="container-margin">
				<h2>Description</h2>
				<p>{{playerDescription}}</p>

				<h2>List of characters</h2>
				<div class="character-card-grid">
					<ng-container *ngFor="let characterCard of characterCards">
						<div class="character-card" [ngClass]="characterCard.isBeingEdited ? 'edit-mode' : ''">
							<a [routerLink]="'//timeline/' + characterCard.timelineSlug + '/' + characterCard.slug">
								<div class="image-container">
									<img src="{{characterCard.image ? characterCard.image : 'https://tokens.dukendor.com/graphics/avatars/visitor.png'}}" alt="" />
								</div>
								<div class="name-container">
									<h3>{{characterCard.firstName}} {{characterCard.lastName}}</h3>
									<!-- <p *ngIf="characterCard.birthDate.year || characterCard.deathDate.year">{{characterCard.birthDate.year}}—{{characterCard.deathDate.year}}</p> -->
								</div>
							</a>
							<button class="edit-btn" (click)="onEditCharacterClick(characterCard)">Edit</button>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</ng-container>