# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
res/images/header-example.png
res/images/header-example2.jpg
res/images/header-example3.jpg
res/images/header-example4.png
res/images/header-example5.jpg
res/images/header-example6.jpg
res/images/header-example7.jpg
res/images/header-example8.jpg
res/images/red.png
res/fonts/Font.otf
res/fonts/HoeflerText.ttf
res/fonts/semplicita-bold.woff2
src/assets/fonts/HoeflerText.ttf
src/assets/fonts/semplicita-bold.woff2
