<div class="character-edit window-content-wrapper" [ngClass]="{'asideIsOpen' : this.isAsideOpen}">
	<div class="window-content a">
		<div class="window-padding">
			<h2>{{ "dialogs.character-edit.headlines.create-character" | translate }}</h2>

			<div class="image" [style.background-image]="'url(' + portraitImage + ')'"></div>
			
			<button class="data-block" (click)="openAside('names')">
				<h2>{{ "dialogs.character-edit.components.names" | translate }}</h2>
				<div class="data-block-item" *ngFor="let name of names; index as i">
					<h3>{{i+1}}: {{name.actorName.firstName}} {{name.actorName.lastName}}</h3>
					<div>
						<span *ngIf="name.actorName.startDate.exactness==='year'">{{name.actorName.startDate.year}}</span>
						<span *ngIf="name.actorName.startDate.exactness==='month'">{{name.actorName.startDate.month}} {{name.actorName.startDate.year}}</span>
						<span *ngIf="name.actorName.startDate.exactness==='day'">{{name.actorName.startDate.day}} {{name.actorName.startDate.month}} {{name.actorName.startDate.year}}</span>
						
						<span>—</span>

						<span *ngIf="name.actorName.endDate.exactness==='year'">{{name.actorName.endDate.year}}</span>
						<span *ngIf="name.actorName.endDate.exactness==='month'">{{name.actorName.endDate.month}} {{name.actorName.endDate.year}}</span>
						<span *ngIf="name.actorName.endDate.exactness==='day'">{{name.actorName.endDate.day}} {{name.actorName.endDate.month}} {{name.actorName.endDate.year}}</span>
					</div>
				</div>
			</button>

			<button class="data-block" (click)="openAside('genders')">
				<h2>{{ "dialogs.character-edit.components.genders" | translate }}</h2>
				<div class="data-block-item" *ngFor="let gender of genders">
					<h3>{{gender.gender.title}}</h3>
				</div>
			</button>

			<form [formGroup]="form">

				<h2>{{ "dialogs.character-edit.headlines.description" | translate }}</h2>
				<textarea formControlName="Description"></textarea>

				<br />
				<label>Url: /timeline/duke/</label>
				<input type="text" formControlName="Slug">

				<br />
				<button (click)="onSaveCharacterClick()">{{ "dialogs.character-edit.save-btn" | translate }}</button>
			</form>

		</div>
	</div>
	<div class="window-content b">
		<character-edit-names *ngIf="openAsideId==='names'" [parentCloseAside]="this.closeAside" [setNames]="this.setNames" [parentNames]="this.names"></character-edit-names>
		<character-edit-genders *ngIf="openAsideId==='genders'" [parentCloseAside]="this.closeAside"></character-edit-genders>
	</div>
</div>