<div class="character-edit window-content-wrapper" [ngClass]="{'asideIsOpen' : this.isAsideOpen}">
	<div class="window-content c">
		<div class="window-content-header">
			<button (click)="parentCloseAside()">&lt;</button>
		</div>
		<div class="window-padding">
			<h2>{{ "dialogs.names-edit.headlines.edit-names" | translate }}</h2>

			<form [formGroup]="form">
				<ng-container *ngFor="let name of names">
					<div *ngIf="!name.isBeingEdited" class="data-block">
						<span>
							<h1>{{name.actorName.firstName}} {{name.actorName.lastName}}</h1>
							{{name.actorName.startDate?.year}}—{{name.actorName.endDate?.year}}
						</span>
						<button (click)="onNameEditClick(name)">{{ "dialogs.names-edit.buttons.edit" | translate }}</button>
					</div>
					<div *ngIf="name.isBeingEdited" class="data-block">
						<div>
							<div class="names-block">
								<div>
									<input id="firstname" type="text" formControlName="FirstName" [value]="name.actorName.firstName" placeholder="First name">
									<label for="firstname">{{ "dialogs.names-edit.inputs.first-name" | translate }}</label>
								</div>
								<div>
									<input id="lastname" type="text" formControlName="LastName" [value]="name.actorName.lastName" placeholder="Last name">
									<label for="lastname">{{ "dialogs.names-edit.inputs.first-name" | translate }}</label>
								</div>
							</div>
							
							<!--<ng-container *ngIf="name.actorName.startDate.exactness==='year'">-->
							<ng-container *ngIf="names.length === 1">
								<p>{{ "dialogs.names-edit.date-restrictions" | translate }}</p>
							</ng-container>
							<ng-container *ngIf="names.length > 1">
								<h3>Name begins</h3>
								<label>Exactness</label>
								<select (change)="onExactnessChange(name, $event)">
									<option *ngFor="let extactness of exactnessTypes" [value]="extactness">{{extactness}}</option>
								</select><br />

								<label>Era</label>
								<select>
									<option *ngFor="let era of eras" [value]="era.id">{{era.title}}</option>
								</select>

								<label>Year</label>
								<input type="number">

								<label>Month</label>
								<select>
									<option *ngFor="let month of months" [value]="month.month">{{month.title}}</option>
								</select>

								<label>Day</label>
								<input type="number">
							</ng-container>
						</div>
						<button (click)="onNameDeleteClick(name)" [disabled]="names.length === 1">{{ "dialogs.names-edit.buttons.delete" | translate }}</button>
						<button (click)="onNameSaveClick(name)">{{ "dialogs.names-edit.buttons.save" | translate }}</button>
					</div>
				</ng-container>
			</form>
			<button (click)="addNewNameField()">{{ "dialogs.names-edit.buttons.add-name" | translate }}</button><br />
			<button (click)="insertNames()">{{ "dialogs.names-edit.buttons.save-names" | translate }}</button>

			<br /><br /><br /><br />
			<button (click)="openAside()">Open Aside</button><br />
		</div>
	</div>
	<div class="window-content d">
		<h2>D</h2>
		<button (click)="closeAside()">Close Aside</button>
	</div>

	<!--Outcommented as it is getting replaced-->
	<!--Replace with date dependant race list-->
	<!--
	<label>Race/species </label>
	<input type="text">
	<br /><br />
	-->

	<!--
	<h1>Character Edit</h1>
	<div *ngIf="names.length === 0">
		<button (click)="addNewNameField()">Add new name</button>
	</div>
	<ng-container *ngFor="let name of names">
		<div *ngIf="!name.isBeingEdited" class="data-block">
			<span>
				<h1>{{name.actorName.firstName}} {{name.actorName.lastName}}</h1>
				{{name.actorName.startDate?.year}}—{{name.actorName.endDate?.year}}
			</span>
			<button (click)="onNameEditClick(name)">Edit</button>
		</div>
		<div *ngIf="name.isBeingEdited" class="data-block">
			<span>
				<label>First name</label>
				<input type="text"><br />
				<label>Last name</label>
				<input type="text">
			</span>
			<button (click)="onNameDeleteClick(name)">Delete</button>
			<button (click)="onNameSaveClick(name)">Save</button>
		</div>
	</ng-container>
	<div *ngIf="names.length > 0">
		<button (click)="addNewNameField()">Add another name</button>
	</div>
	<br />
	<br /><br />
	
	<div *ngIf="genders.length === 0">
		<button (click)="addNewGenderCard()">Add new gender</button>
	</div>
	<ng-container *ngFor="let gender of genders">
		<div *ngIf="!gender.isBeingEdited" class="data-block">
			<span>
				<h1>{{gender.gender.title}}</h1>
				{{gender.gender.startDate?.year}}—{{gender.gender.endDate?.year}}
			</span>
			<button (click)="onNameEditClick(name)">Edit</button>
		</div>
		<div *ngIf="gender.isBeingEdited" class="data-block">
			NYI
		</div>
	</ng-container>
	<div *ngIf="genders.length > 0">
		<button (click)="addNewGenderCard()">Add another gender</button>
	</div>
	-->

	

	<!--Outcommented below for visual sanity-->
	<!--
	<label>Born</label>
	<input type="number">
	<select>
		<option>January</option>
		<option>February</option>
		<option>March</option>
	</select>
	<input type="number">
	<br /><br />

	<label>Died</label>
	<input type="number">
	<select>
		<option>January</option>
		<option>February</option>
		<option>March</option>
	</select>
	<input type="number">
	<br /><br />
	-->
</div>