<ng-container *ngIf="timeline">
	<div class="header" [style.background-image]="'url(' + timeline.image + ')'">
		<div class="header-content">
			<h1>{{timeline.title}}</h1>
			<h2>By {{timeline.author.name}}</h2>
			<p>{{timeline.description}}</p>
		</div>
	</div>

	<div class="content has-header">
		<div *ngFor="let era of timeline.eras">
			<h1>{{era.title}}</h1>
			<p>{{era.description}}</p>

			<div *ngFor="let year of era.years">
				<h2 *ngIf="year.exactness=='exact'">{{year.year}}</h2>
				<h2 *ngIf="year.exactness=='circa'">Ca. {{year.year}}</h2>
				<h2 *ngIf="year.exactness=='decade'">The {{year.year}}s</h2>

				<div *ngFor="let month of year.months">
					<b *ngIf="month.exactness=='exact'">Month {{month.month}}: {{month.title}}</b>
					<b *ngIf="month.exactness=='circa'">Ca. Month {{month.month}}: {{month.title}}</b>
					<b *ngIf="month.exactness=='unknown'">Unknown month</b>

					<div *ngFor="let day of month.days">
						<i>Day {{day.day}}</i>
						<!--TODO: Reintroduce relative dates. See old entrylist component-->

						<div *ngFor="let entry of day.entries">
							<entry [item]="entry" [item]="entry" [references]="timeline.actors" [date]="{era: 1, year: year.year, month: month.month, day: day.day}"></entry>
						</div>

						<!--<entry *ngFor="let entry of day.entries" [item]="entry" [references]="references" [year]="year.year"></entry>-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<br /><br /><br /><br />
</ng-container>