<!-- <div class="padding">
	<h2>Character</h2>
	<h3>{{routeParamId}}</h3>
</div> -->

<div class="preview">
	<div class="cover-image" [style.background-image]="'url(' + coverImage + ')'">
		<h1>{{firstName}} {{lastName}}</h1>
	</div>

	<div class="image-wrapper">
		<div class="image" [style.background-image]="'url(' + portraitImage + ')'"></div>
	</div>
</div>

<div class="padding">
	<form [formGroup]="form" class="custom-input-styling">
		
		<div class="input-box">
			<label>First name</label>
			<input type="text" formControlName="Firstname" name="Firstname" (keyup)="onFirstNameKeyup()" placeholder=" " />
		</div>

		<div class="input-box">
			<label>Last name</label>
			<input type="text" formControlName="Lastname" name="Lastname"  (keyup)="onLastNameKeyup()" placeholder=" " />
		</div>

		<div class="input-box">
			<!-- <label>Era</label> -->
			<select formControlName="Era">
				<option *ngFor="let era of eras" [ngValue]="era.id">{{era.title}}</option>
			</select>
		</div>

		<div class="input-box">
			<label>Date of Birth</label>
			<input type="number" formControlName="BirthDay" placeholder=" " />
		</div>

		<div class="input-box" *ngIf="months?.length > 0">
			<label>Birth month</label>
			<select formControlName="BirthMonth">
				<option value="0">Unknown</option>
				<option *ngFor="let month of months" [ngValue]="month.id">{{month.title}} {{month.id}}</option>
			</select>
		</div>

		<div class="input-box">
			<label>Birth year</label>
			<input type="number" formControlName="BirthYear" placeholder=" " />
		</div>

		<div class="input-box----1">
			<label>Description</label>
			<textarea formControlName="Description" name="Description"></textarea>
		</div>

		<div class="input-box">
			<label>Image URL</label>
			<input type="text" formControlName="ImageUrl" name="ImageUrl" placeholder=" " />
			<button (click)="setImageClick()">Set image</button>
		</div>

		<div class="input-box">
			<label>Cover image URL</label>
			<input type="text" formControlName="CoverImageUrl" name="CoverImageUrl" placeholder=" " />
			<button (click)="setCoverImageClick()">Set image</button>
		</div>

		<div class="input-box">
			<label>URL</label>
			<input type="text" formControlName="Url" name="Url" />
		</div>

		<br /><br />
		<button  *ngIf="existingCharacter === null" type="submit" (click)="saveCharacterClick()">Save new</button>
		<button *ngIf="existingCharacter !== null" type="submit" (click)="saveCharacterChangesClick()">Save changes</button>

		<!-- <dateinput [title]="'Date'" [eras]="eras" [months]="months" (newDateEvent)="setStartDate($event)"></dateinput> -->

		<br /><br />
		<br /><br />
	</form>
</div>