<div class="content-wrapper">
	<div class="container-margin">
		<h2>Character list</h2>
		<a [routerLink]="'//timeline/' + timelineSlug">Back to timeline</a>
		<br />
		<br />

		<div class="character-card-grid">
			<ng-container *ngFor="let characterCard of characterCards">
				<card
					[image]="characterCard.image"
					[title]="(characterCard.firstName ?? '') + ' ' + (characterCard.lastName ?? '')"
					[subtitle]="characterCard.birthDate.year || characterCard.deathDate.year ? (characterCard.birthDate.year ?? '') + '—' + (characterCard.deathDate.year ?? '') : ''"
					[canEdit]="true"
					[isBeingEdited]="characterCard.isBeingEdited"
					[isRpg]="characterCard.isRpg"
					[isPlayable]="characterCard.playable"
					[url]="'//timeline/' + timelineSlug + '/' + characterCard.slug"
					[onClickCallback]="onEditCharacterClick.bind(this, characterCard)"
				></card>
			</ng-container>
		</div>
	</div>
</div>