<div class="entry">
	<div class="entry-icon" [style.background-image]="'url(' + item.type + ')'"></div>
	<div class="entry-text">
		<!--<p [outerHTML]="item.description | entryDescription : references : date"></p>-->
		<!--<p [outerHTML]="item.description"></p>-->
		<!--<span *ngFor="let element of item.elements">{{element.description}}</span>-->
		<ng-container *ngFor="let element of item.elements">

			<ng-container *ngIf="element.type ==='text'">
				{{element.description}}
			</ng-container>

			<ng-container *ngIf="element.type ==='character'">
				<a [routerLink]="element.url">
					{{element.name}}
					<span class="tooltip">
						<div *ngIf="element.image" class="image" [style.background-image]="'url(' + element.image + ')'"></div>
						{{element.name}}<br />
						{{element.age}}<br />
					</span>
				</a>
				<span *ngIf="element.showAge" class="gray">&nbsp;({{element.age}})</span>
			</ng-container>

		</ng-container>
	</div>
</div>
