@import "../../../../../../../styles.scss";

h2 {
	font-family: $font-secondary, $font-hoefler, sans-serif;
}

.entry {
	display: flex;
	flex-direction: row;
	height: auto;
	background-color: #3b270e;
	background-image: url('http://www.dark-legacy.info/Parchment.jpg');
	background-size: cover;
	color: $color-white;
	font-family: $font-primary;
	margin-bottom: 10px;

	border: 1px solid #000000;
	border-radius: 10px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 80px rgba(0, 0, 0, 0.5) inset;
	visibility: visible;

	.entry-icon {
		min-width: 100px;
		height: auto;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background-size: cover;
		background-position: center center;

		&.combat {
			background-color: red;
		}

		&.death {
			background-color: $color-black;
		}

		&.travel {
			background-color: yellowgreen;
		}
	}
	.entry-text {
		margin: 10px;

		.gray {
			color: $color-gray;
		}
	}
}

span.small {
	padding-left: 10px;
	color: $color-gray;
	text-transform: uppercase;
	font-size: small;
	font-family: sans-serif;
}

p {
	color: $color-white;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
	margin-block-start: 0;
	margin-block-end: 0;

	img {
		width: 16px;
		top: 5px;
	}

	span.gray {
		color: $color-gray;
	}
}

a {
	position: relative;
	color: $color-yellow;
	text-decoration: none;

	&:hover {
		.tooltip {
			visibility: visible;
		}
	}
}

.tooltip {
	visibility: hidden;
	background-color: $color-black;
	color: $color-white;
	width: 300px;
	padding: 5px;
	position: absolute;
	text-align: center;
	left: 50%;
	bottom: 100%;
	margin-left: -100px;

	.cover-image {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100px;
		max-height: 200px;
		background-size: cover;
		background-position: center;
	}

	.image {
		width: 100px;
		height: 100px;
		max-height: 200px;
		background-size: cover;
		background-position: center;
	}
}