@import "../../../styles.scss";

.btn {
	background-color: $color-gray-lighter;
	border-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 10px;
	color: $color-black;
	border-radius: $border-radius-small;

	&:hover {
		background-color: $color-white;
	}

	// svg {
	// 	width: 20px;
	// 	height: 20px;
	// 	padding-right: 5px;
	// }
}