@import "../../../styles.scss";

.btn {
	background-color: $color-gray-lighter;
	border-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 10px;
	color: $color-black;
	border-radius: $border-radius-small;
	filter: drop-shadow($shadow-small);

	&:hover {
		background-color: $color-white;
		cursor: pointer;
	}

	&.clear {
		background-color: transparent;
	}

	editicon:not(:last-child) {
		padding-right: 5px;
	}
}