<div [ngClass]="{'aside-open' : isAsideOpen}">

	<div class="page padding" [ngClass]="{'aside-open' : isAsideOpen}">
		Eras :: {{routeParamId}} :: {{timelineId}}
		<div style="margin: 20px 0;">
			<button (click)="onEraClick(null)">Create new era</button>			
		</div>

		<div class="era-card-list">
			<button class="era-card" *ngFor="let era of eras"  [style.background-image]="'url(' + era.image + ')'" (click)="onEraClick(era)">
				<h2>{{era.title}}</h2>
				<p>{{era.description}}</p>
			</button>
		</div>
	</div>

	<aside class="page" [ngClass]="{'aside-open' : isAsideOpen}">
		<era-sidebar-page [era]="selectedEra" [timelineId]="timelineId"></era-sidebar-page>
		<button (click)="onEraCloseClick()">Close aside</button>
	</aside>
</div>