<ng-container *ngIf="character">
	<div class="header" [style.background-image]="character.coverImage ? 'url('+character.coverImage+')' : 'url(https://cdnb.artstation.com/p/assets/images/images/034/991/557/large/will-murai-barrens-keyart-008.jpg?1613802083)'">
		<div class="header-content">
			<span class="title" *ngIf="character.titles">{{character.titles[character.titles.length - 1]}}</span>
			<h1>{{character.firstName}} {{character.lastName}}</h1>
			<p *ngIf="character.birthDate.year || character.deathDate.year">{{character.birthDate.year}}—{{character.deathDate.year}}</p>

			<div *ngIf="character.image" class="image-wrapper">
				<div class="image" [style.background-image]="'url(' + character.image + ')'"></div>
			</div>
		</div>
	</div>
	<div class="content-wrapper has-header">


		<div class="content" [ngClass]="{'has-image' : character.image}">
			<div class="container-margin">
				<ng-container *ngIf="character.dndStats">
					<div>
						<p *ngFor="let class of character.classes">{{class.class}} &bullet; {{class.subclass}} &bullet; level {{class.level}}</p>
						<!-- <p>Class: {{character.dndStats.class}} level {{character.dndStats.level}}</p> -->
						<p>Background: {{character.dndStats.background}}</p>
						<p>Alignment: {{character.dndStats.alignment}}</p>
						<p>Armor class: {{character.dndStats.armorClass}}, speed: {{character.dndStats.speed}}</p>
						<p>Initiative: {{getModifier(character.dndStats.dexterity)}}</p>
						<ng-container *ngIf="character.dndStats.playable">
							<p>Played by <a [routerLink]="'//player/' + character.dndStats.playerName">{{character.dndStats.playerName}}</a></p>
						</ng-container>
						<ng-container *ngIf="!character.dndStats.playable">
							<p>NPC</p>
						</ng-container>
						<br />
					</div>
					<div class="grid">
						<div class="tile">STR: {{character.dndStats.strength}} ({{getModifier(character.dndStats.strength)}})</div>
						<div class="tile">DEX: {{character.dndStats.dexterity}} ({{getModifier(character.dndStats.dexterity)}})</div>
						<div class="tile">CON: {{character.dndStats.constitution}} ({{getModifier(character.dndStats.constitution)}})</div>
						<div class="tile">INT: {{character.dndStats.intelligence}} ({{getModifier(character.dndStats.intelligence)}})</div>
						<div class="tile">WIS: {{character.dndStats.wisdom}} ({{getModifier(character.dndStats.wisdom)}})</div>
						<div class="tile">CHA: {{character.dndStats.charisma}} ({{getModifier(character.dndStats.charisma)}})</div>
					</div>
				</ng-container>
				<div>
					<h3>Description</h3>
					<p>{{character.description ? character.description : "No description"}}</p>
				</div>
				
				<br /><br />
				
				<custombutton [text]="'Edit'" [onClickCallback]="onEditClick.bind(this)"></custombutton>

				<br /><br />
				<a [routerLink]="'//timeline/' + timelineSlug">Back to timeline</a>

				<div>
					<h3>New description, test only</h3>
					<paragraph [textElements]="description"></paragraph>
				</div>
			</div>
		</div>
	</div>
</ng-container>