<ng-container *ngIf="character">
	<div class="header" [style.background-image]="character.coverImage ? 'url('+character.coverImage+')' : 'url(https://cdnb.artstation.com/p/assets/images/images/034/991/557/large/will-murai-barrens-keyart-008.jpg?1613802083)'">
		<div class="header-content">
			<h1>{{character.firstName}} {{character.lastName}}</h1>
			<p>{{character.birthDate.year}}—{{character.deathDate.year}}</p>
		</div>
	</div>
	<div class="content has-header">
		<div class="content-top" *ngIf="character.image">
			<div class="image" [style.background-image]="'url(' + character.image + ')'"></div>
		</div>
		<div *ngIf="character.dndStats" class="grid">
			<div class="tile">STR: {{character.dndStats.strength}} ({{getModifier(character.dndStats.strength)}})</div>
			<div class="tile">DEX: {{character.dndStats.dexterity}} ({{getModifier(character.dndStats.dexterity)}})</div>
			<div class="tile">CON: {{character.dndStats.constitution}} ({{getModifier(character.dndStats.constitution)}})</div>
			<div class="tile">INT: {{character.dndStats.intelligence}} ({{getModifier(character.dndStats.intelligence)}})</div>
			<div class="tile">WIS: {{character.dndStats.wisdom}} ({{getModifier(character.dndStats.wisdom)}})</div>
			<div class="tile">CHA: {{character.dndStats.charisma}} ({{getModifier(character.dndStats.charisma)}})</div>
		</div>
		<div>
			<h3>Description</h3>
			<p>{{character.description ? character.description : "No description"}}</p>
		</div>
	</div>
</ng-container>