:host {
	width: 100%; //500px;
}

.character-edit {
	width: 100%;
	//height: 100%;
	box-sizing: border-box;
	//padding: 30px;
	background-color: white;

	// TODO: Needs a better, more fiting name
	.data-block {
		display: flex;
		justify-content: space-between;
		color :white;
		background-color: #333333;
		padding: 10px 20px;
		border-radius: 10px;
		margin-bottom: 10px;
	}
}