<div class="character-edit window-content-wrapper" [ngClass]="{'asideIsOpen' : this.isAsideOpen}">
	
	<div class="window-content-header">
		<button (click)="parentCloseAside()">&lt;</button>
	</div>
	<div class="window-content c">
		<h1>Edit genders</h1>
	</div>

	<!--
	<div class="window-content c">
		<div class="window-content-header">
			<button (click)="parentCloseAside()">&lt;</button>
		</div>
		<h2>C</h2>
		<button (click)="openAside()">Open Aside</button><br />
		<button (click)="test()">Close parent aside programmatically</button>
	</div>
	<div class="window-content d">
		<h2>D</h2>
		<button (click)="closeAside()">Close Aside</button>
	</div>
	-->
</div>