<html>
	<head>
		<title>The Timeline App</title>
	</head>
	<body>
		<menu></menu>
		<div class="page-content">
			<div class="header" [ngStyle]="setHeaderImage()">
			<!--<div class="header" [class]="headerImage">--><!--style="background-image: url({{this.image}});
				
				[style.font-size.px]"-->
				<div class="header-content">
					<h1>{{this.title}}</h1>
					<p>{{this.description}}</p>
				</div>
			</div>

			<div class="content">
				<entrylist></entrylist>
			</div>
		</div>

		<modal></modal>
	</body>
</html>

<router-outlet></router-outlet>