body {
	margin-top: 70px;
	margin: 50px 0px 0px 0px;
	//background-image: url('http://dukendor.com/nadtas/mistywoods.jpg');
	background-attachment: fixed;
	background-color: #292a2d;

	h1 {
		font-family: 'Semplicita', sans-serif;
	}

	.page-content {
		width: 100%;
		margin: 0 auto;
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		width: 100%;
		height: 500px;
		background-position: center;
		background-size: cover;
		margin: 0 auto;
		padding: 30px;
		border-left: 1px solid #000000;
		border-right: 1px solid #000000;
		border-bottom: 1px solid #000000;
		//box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 80px rgba(0, 0, 0, 0.5) inset;
		box-shadow: 0 0 80px rgba(0, 0, 0, 0.5) inset;
		box-sizing: border-box;

		.header-content {
			position: relative;
			width: 800px;
			margin-bottom: 40px;

			h1 {
				//position: absolute;
				//bottom: 100px;
				width: 100%;
				color: white;
				text-align: center;
				text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
				letter-spacing: 15px;
			}
	
			p {
				font-size: 18px;
				font-weight: 900;
				letter-spacing: 5px;
				text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
			}
		}
	}

	.content22 {
		position: relative;
		top: -75px;
		width: 800px;
		background-color: rgb(50,50,50);
		margin: 0 auto;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 80px rgba(0, 0, 0, 0.5) inset;
		//background-image: url(https://img.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-444.jpg?size=626&ext=jpg);
		background-color: #292a2d;
		border-radius: 10px;
		z-index: 10;
	}
}