<div class="content-wrapper">
	<div class="container-margin">
		<h1>All Components</h1>
		<p>This page will contain all standalone components, listed alphabetically.</p>

		<Headline [text]="'Ability Score'" [size]="'h2'" />
		<AbilityScores [abilitieScores]="abilitieScores" />

		<Headline [text]="'Button'" [size]="'h2'" />
		<custombutton [text]="'Button Text'" />

		<Headline [text]="'Card'" [size]="'h2'" />
		<Headline [text]="'Portrait'" [size]="'h3'" />
		<div class="character-card-grid">
			<card />
			<card [isRpg]="true" />
			<card [isRpg]="true" [isPlayable]="true" />
		</div>
		<Headline [text]="'Landscape'" [size]="'h3'" />
		<div class="character-card-grid">
			<card [shape]="'landscape'" />
		</div>

		<Headline [text]="'Icons'" [size]="'h2'" />
		<div class="icon-grid">
			<EditIcon />
			<HexagonIcon />
			<HexagonPlayerIcon />
		</div>

	</div>
</div>