<Hero
	bgImage="https://cdna.artstation.com/p/assets/images/images/080/619/234/4k/grafit-studio-day.jpg?1728045948"
	title="All components"
	byLine="By Henrik Stavnem"
	description="This page will contain all standalone components, listed alphabetically."
/>
<div class="content-wrapper has-header">
	<div class="container-margin">
		<Headline [text]="'Ability Score'" [size]="'h2'" />
		<AbilityScores [abilitieScores]="abilitieScores" />

		<Headline [text]="'Button'" [size]="'h2'" />
		<custombutton [text]="'Button Text'" />

		<Headline [text]="'Card'" [size]="'h2'" />
		<Headline [text]="'Portrait'" [size]="'h3'" />
		<div class="character-card-grid">
			<card />
			<card [isRpg]="true" />
			<card [isRpg]="true" [isPlayable]="true" />
		</div>
		<Headline [text]="'Landscape'" [size]="'h3'" />
		<div class="character-card-grid">
			<card [shape]="'landscape'" />
		</div>

		<Headline [text]="'Icons'" [size]="'h2'" />
		<div class="icon-grid">
			<EditIcon />
			<HexagonIcon />
			<HexagonPlayerIcon />
		</div>

		<Headline [text]="'Paragraph'" [size]="'h2'" />
		<paragraph [text]="playerDescription" />

		<Headline [text]="'Quote'" [size]="'h2'" />
		<Quote [text]="quoteText" />

	</div>
</div>