<div class="content-wrapper">
	<div class="container-margin">
		<h2>Locations</h2>
		<a [routerLink]="'//timeline/' + timelineSlug">Back to timeline</a>
		<br />
		<br />

		<div class="location-card-grid">
			<ng-container *ngFor="let locationCard of locationCards">
				<!-- <div class="character-card" [ngClass]="locationCard.isBeingEdited ? 'edit-mode' : ''"> -->
				<div class="location-card">
					<a [routerLink]="'//timeline/' + timelineSlug + '/locations/' + locationCard.slug">
						<div class="image-container">
							<img src="{{locationCard.coverImage ? locationCard.coverImage : 'https://tokens.dukendor.com/graphics/avatars/visitor.png'}}" alt="" />
						</div>
						<div class="name-container">
							<h3>{{locationCard.name}}</h3>
						</div>
					</a>
					<!-- <button class="edit-btn" (click)="onEditCharacterClick(locationCard)">Edit</button> -->
				</div>
			</ng-container>
		</div>
	</div>
</div>