@import "../../../../styles.scss";

:host {
	width: 100%; //500px;
	height: calc(100% - 50px); //500px;
	background-color: $color-white;
	box-shadow: 0 0 15px 0 $color-black;

	@include breakpoint('large') {
		width: 700px;
		height: 700px;
	}

	.window {
		height: 100%;
		width: 100%;
		overflow-x: hidden;
	}

	.accent {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
		height: 55px;
		background-color: dodgerblue;
		color: $color-white;
		align-items: center;
		padding: 0 10px;
		box-sizing: border-box;

		span {
			font-family: $font-secondary, sans-serif;
		}
		
		button {
			cursor: pointer;
		}
	}

	.window-content-wrapperOLD {
		display: flex;
		flex-direction: row;
		//padding: 30px;
		font-family: $font-hoefler, sans-serif;
		color: $color-black;
		width: 100%;
		height: calc(100% - 55px); // 55 is accent height
		//overflow: hidden;
		transition: transform 0.15s ease-in-out;
		box-sizing: border-box;

		&.asideIsOpen {
			transform: translateX(-100%);
		}

		.window-content {
			flex: 0 0 100%;
			//padding: 30px;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			overflow-y: auto;

			&.a {
				background-color: aquamarine;
			}

			&.b {
				background-color: coral;
			}
		}
	}
}

.box {
	width: 90%;
	background-color: $color-gray-dark;
	border-radius: 10px;
	color: $color-white;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
}