@import "../../../../../styles.scss";

.padding {
	padding-left: 50px;
	padding-right: 50px;
}

.era-card-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.era-card {
	display: flex;
	flex-direction: column;
	background-color: $color-gray-dark;
	background-size: cover;
	background-position: center;
	padding: 20px 30px;
	border-radius: 5px;
	color: $color-white;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);

	h2 {
		font-family: $font-secondary;
		font-size: 20px;
		margin-block-start: 0;
		margin-block-end: 0;
	}

	span {
		display: block;
		font-family: $font-primary;
		font-size: 18px;
	}
}