//@import "scss/mixin/mixins";
@import "scss/app";
@import "scss/app/app";

body {
	background-color: $color-gray-darker;
	color: $color-yellow;
	font-family: $font-hoefler;
	margin: 0px;
	overflow-x: hidden;
	scroll-behavior: smooth;

	&[data-sidebar-is-open="true"] {
		overflow-y: hidden;
	}
}

.mention {
	display: inline-block;
	border-radius: 3px;
	border: 1px solid $color-black;
	background-color: $color-yellow;
	color: $color-black;
	padding: 0 5px;
	user-select: contain;
	box-sizing: border-box;
	cursor: pointer;
}

.shield {
	position: relative;
	top: 5px;
	width: 16px;
	margin-left: 3px;
	margin-right: 5px;
	user-select: none;
}

a {
	color: $color-yellow;

	&.person {
		color: $color-yellow;
	}

	&.location {
		color: yellowgreen !important;
	}
}

h1, p {
	margin-block-start: 0;
	margin-block-end: 0;
}
//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$aside-width: 600px;

.content-container {
	transition: margin-left .15s linear;
	// display: flex;
	// flex-direction: row;
	position: relative;
	//transition: filter 0.15s ease-in-out;

	&.aside-open {
		margin-left: $aside-width;
		pointer-events: none;
		user-select: none;
	}
}

aside.sidebar {
	display: flex;
	position: fixed;
	flex-direction: column; //row;
	box-sizing: border-box;
	top: 50px;
	min-width: $aside-width;
	max-width: $aside-width;
	height: calc(100% - 50px);
	background-color: white;
	border-right: rgba(0, 0, 0, .5) 1px solid;
	z-index: 100;
	transition: margin-left $duration-short ease-in-out;
	margin-left: calc(-1px - $aside-width); // TODO: Change into calculation based on a variable
	color: $color-black;
	overflow-y: auto;
	overflow-x: hidden;

	pointer-events: none;
	user-select: none;

	&.aside-open {
		margin-left: 0;
		pointer-events: all;
		user-select: unset;
	}

	.sidebar-top {
		position: absolute;
		display: flex;
		flex-grow: 0;
		justify-content: space-between;
		width: 100%;
		z-index: 1; // TODO: This migth be enough, but verify
	}

	.aside-content {
		display: flex;
		flex-direction: column;
		padding: 50px;
		box-sizing: border-box;
		row-gap: 1rem;
		flex-grow: 1;

		button {
			//font-family: $font-primary;
			font-size: 14px;
		}
	}

	> div {
		transition: transform $duration-short ease-in-out;
		background-color: lightblue;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		
		> div {
			min-width: $aside-width;
			max-width: $aside-width;
		}

		&.aside-open {
			transform: translateX(calc(-1px - $aside-width));
		}
	}

	aside {
		position: relative;
		top: 21px;
		display: flex;
		flex-direction: column;
		min-width: $aside-width;
		max-width: $aside-width;
		box-sizing: border-box;
		background-color: $color-gray-lighter;// $color-green;
	}
}

.aside-backdrop {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	z-index: 20;
	transition: background-color $duration-short ease-in-out;
	user-select: none;
	pointer-events: none;

	&.aside-open {
		background-color: rgba(0, 0, 0, 0.5);
	}
}