@import "scss/mixin/mixins";
@import "scss/app";
@import "scss/app/app";

body {
	background-color: #292a2d;
	//background-size: cover;
	background-repeat: no-repeat;
	color: #ffd700;
	font-family: 'Hoefler Text';
	margin: 0px;
}

.mention {
	display: inline-block;
	border-radius: 3px;
	border: 1px solid black;
	background-color: yellow;
	color: black;
	padding: 0 5px;
	user-select: contain;
	box-sizing: border-box;
}

.shield {
	position: relative;
	top: 5px;
	width: 16px;
	margin-left: 3px;
	margin-right: 5px;
	user-select: none;
}

a {
	color: #ffd700;

	&.person {
		color: #ffd700;
	}

	&.location {
		color: yellowgreen !important;
	}
}

h1, p {
	margin-block-start: 0;
	margin-block-end: 0;
}
//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
