.content {
	margin-top: 100px;
	position: absolute;

	a {
		text-decoration: none;
	}

	.timeline-card {
		display: flex;
		box-sizing: border-box;
		flex-direction: column;
		padding: 20px;
		border-radius: 5px;
		background-size: cover;
		margin-bottom: 15px;
		user-select: none;

		.title {
			font-family: 'Semplicita';
			font-size: 16px;
			text-shadow: 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
		}

		.by-line {
			font-family: 'Semplicita';
			font-size: 12px;
			text-shadow: 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
		}
	}
}