$color-black: #000000;
$color-gray-lighter: hsl(0, 0%, 90%);
$color-gray-light: hsl(0, 0%, 70%);
$color-gray: hsl(0, 0%, 50%);
$color-gray-dark: #292a2e;
$color-gray-darker: #101010;
$color-white: #ffffff;
$color-yellow: #ffd700;
$color-green: #b0eb0e;